/* themes.scss */

/* =========================
   DARK THEME (default)
   ========================= */
/* :root {
  
    --background-color: #121212;
    --surface-color: #1e1e1e;
    --border-color: #2c2c2c;

    --accent-color: #ff8c42;
    --accent-hover: #ffa76b;

    --text-primary: #f5f5f5;
    --text-secondary: #b0b0b0;
    --text-muted: #888888;

    --success-color: #4caf50;
    --error-color: #e57373;
    --warning-color: #ffc107;
}
 */
/* =========================
   LIGHT THEME
   ========================= */
/* [data-theme="light"] {
    --background-color: #ffffff;
    --surface-color: #f5f5f5;
    --border-color: #e0e0e0;

   
    --accent-color: #ff8c42;
    --accent-hover: #ffa76b;


    --text-primary: #1a1a1a;
    --text-secondary: #4f4f4f;
    --text-muted: #7a7a7a;

    --success-color: #4caf50;
    --error-color: #e57373;
    --warning-color: #ffc107;
}
 */
/* @theme {
    --color-pumpkin-spice-50: #ffefe5;
    --color-pumpkin-spice-100: #ffe0cc;
    --color-pumpkin-spice-200: #ffc099;
    --color-pumpkin-spice-300: #ffa166;
    --color-pumpkin-spice-400: #ff8133;
    --color-pumpkin-spice-500: #ff6200;
    --color-pumpkin-spice-600: #cc4e00;
    --color-pumpkin-spice-700: #993b00;
    --color-pumpkin-spice-800: #662700;
    --color-pumpkin-spice-900: #331400;
    --color-pumpkin-spice-950: #240e00;
    --primary: var(--color-pumpkin-spice-500)
} */