@use "../../../styles/variables";

.particles-container {
  position: absolute;
  width: 100%;
  height: calc(100vh - 90px);
  z-index: 1;
  top: 0;
  left: 0;
  background-color: variables.$background-color;
  border-bottom: 1px solid variables.$border-color;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding-top: 15%;
}