<!-- <div class="header">
    <div class="left">
        <div class="header_img">
            <img src="/imgs/alessio_header_photo.jpeg" alt="">
        </div>
        <span>ALESSIO FISCHETTI</span>
    </div>
    <div class="right no_hamburger" *ngIf="!isMobileView">
        <div class="section_holder row align-items-center">
            <div class="col-6 col-sm-4">
                <button class="custom_btn" (click)="scrollToHome()">
                    <span>HOME</span>
                </button>
            </div>
            <div class="col-6 col-sm-4">
                <button class="custom_btn"><span>ABOUT</span></button>
            </div>
            <div class="col-6 col-sm-4">
                <button class="custom_btn"><span>SKILLS</span></button>
            </div>
        </div>
    </div>
    <div class="right hamburger" *ngIf="isMobileView">
        <hamburger-component (menuToggle)="handleMenuToggle($event)" [usedLink]="closeMenu"></hamburger-component>
        <ul *ngIf="isMenuOpen">
            <li (click)="scrollToHomeMobile()">
                <a>HOME</a>
            </li>
            <li><a>ABOUT</a>
            </li>
            <li>
                <a>SKILLS</a>
            </li>
        </ul>
    </div>
</div> -->