

.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 99;

    /* LEFT SIDE */
    .left {
        display: flex;
        padding-left: 1%;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        width: 50%;

        .header_img img {
            border-radius: 45px;
            height: 5.1rem;
        }

        span {
            font-size: 1.5rem;
            font-weight: 550;
            text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.6);
        }
    }

    /* RIGHT SIDE */
    .no_hamburger {
        width: 50%;

        .section_holder {
            padding: 0 20px 0 0;
            height: 100%;
            justify-content: flex-end;
            align-items: center;
            gap: 1.5rem;

            .col-6 {
                width: fit-content;
            }

            .custom_btn {
                width: 118px;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease, transform 0.3s ease;

                &:active {
                    transform: translateY(0);
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
                    transform: translateY(-2px);
                }
            }
        }
    }

    .hamburger {
        padding: 0 20px 0 0;
        width: 100%;
        text-align: right;
        align-self: center;
        position: absolute;

        ul {
            position: absolute;
            width: 100%;
            padding: 0;
            margin: 0;
            transform: translateY(14px);

            li {
                width: 100%;
                padding: 1.5rem;
                padding-right: 1.7rem;
                padding-left: 0;
                margin-top: 5px;
                list-style-type: none;

                &:active {
                    transform: translateY(0);
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
                    transform: translateY(-2px);
                }
            }

            li:last-child {
                border: none;
                box-shadow: #0000001a 0px 23px 20px;
            }

        }
    }
}