<div class="animated_txt">
    <p>
        <span class="fs-1">Software Developer</span>
    </p>
    <h2><span #typedElement></span></h2>
</div>

<div class="bottom_animations">
    <div class="scroll_container">
        <div class="scroll_body">
            <div class="scroll_dot"></div>
        </div>
    </div>
    <div class="links">
        <div class="github"><i class="fa-brands fa-2xl fa-github"></i></div>
        <div class="linkedin"><i class="fa-brands fa-2xl fa-linkedin"></i></div>
    </div>
</div>