<div class="animated_txt">
    <p>
        <span class="fs-1">Software Developer</span>
    </p>
    <h2><span #typedElement></span></h2>
</div>

<div class="bottom_animations">
    <div class="scroll_container">
        <div class="scroll_body">
            <div class="scroll_dot"></div>
        </div>
    </div>
    <div class="links">
        <div class="github"><a href="https://github.com/Alessio-Fischetti" target="_blank"><i
                    class="fa-brands fa-2xl fa-github"></i></a></div>
        <div class="linkedin"><a href="https://www.linkedin.com/in/alessio-fischetti-a085ab20a/" target="_blank"><i
                    class="fa-brands fa-2xl fa-linkedin"></i></a></div>
        <div class="cv"><button (click)="downloadCV()"><i class="fa-regular fa-2xl fa-file-pdf"></i></button></div>
    </div>
</div>