.img_container{
    border-color: #0000001b;
}

.file_exp_bar {
    background: linear-gradient(#fff 20%, #f1f4fa 25%, #f1f4fa 43%, #d4dbee 48%, #e6eaf6);
    border-color: rgba(0, 0, 0, 0.31);
    color: rgba(0, 0, 0, 0.551);
    ;
}

.img_footer {
    background:#B5D8FF;
    border: #B5D8FF;
}