 @import "../../../styles/variables";

 .animated_txt {
     position: relative;
     width: 100%;
     height: 90%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     z-index: 2;

     p {
         text-transform: uppercase;
         letter-spacing: .5em;
         display: inline-block;
         border-width: 4px 0;

         span {

             font: 700 4em/1 'JetBrains Mono', monospace;
             letter-spacing: 0;
             padding: .25em 0 .325em;
             display: block;
             margin: 0 auto;
             text-shadow: 0 0 80px rgba(255, 255, 255, .5);

             /* Clip Background Image */

             background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
             -webkit-background-clip: text;
             background-clip: text;

             /* Animate Background Image */

             -webkit-text-fill-color: transparent;
             animation: aitf 125s linear infinite;

             /* Activate hardware acceleration for smoother animations */

             transform: translate3d(0, 0, 0);
             backface-visibility: hidden;

         }
     }

     h2 {
         padding-bottom: 15%;
         text-align: center;
     }

     /* Animate Background Image */

     @keyframes aitf {
         0% {
             background-position: 0% 50%;
         }

         100% {
             background-position: 100% 50%;
         }
     }
 }

 .links {
     position: relative;
     height: 10%;
     margin-right: 20px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 2rem;
     z-index: 2;

     .github,
     .linkedin {
         cursor: pointer;
         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
         transition: box-shadow 0.3s ease, transform 0.3s ease;

         &:active {
             transform: translateY(0);
             box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
         }

         &:hover {
             color: $accent-hover;
             cursor: pointer;
             box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
             transform: translateY(-2px);
         }
     }
 }