div {
    font-family:
        "Cascadia Code",
        Consolas,
        "Courier New",
        monospace;
}

.arrow_holder {
    cursor: pointer;

    &:hover {
        background: #dedede5c;
    }
}

.list_arrow .list_arrow_button {
    color: #dedede;
    margin-top: 6px;
    opacity: 0;
    transition: transform 0.2s ease;

    &.active_border {
        opacity: 1;

    }

    .rotate {
        transform: rotate(0);
    }
}

.focused {
    background: #6c6c6c9c
}

.custom_anchor {
    text-decoration: none;
    color: #0f0f0f;
}

.custom_border_hover {

    &:hover {

        div:first-child {
            background-color: #1456d97e;
        }
    }
}