.list_arrow .list_arrow_button {
    color: #dedede;
    margin-top: 6px;
    opacity: 0;
    transition: transform 0.2s ease;

    &.active_border {
        opacity: 1;

    }

    .rotate {
        transform: rotate(0);
    }
}

.focused{
    background: #6c6c6c9c
}