button, div {
    cursor: default;
}

.winui-searchbox {
    background: url('/assets/icons/search_blue.png') no-repeat right 8px center;
    background-size: 13px 13px;
    background-color: #fff;
}

.winui-searchbox::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.custom_start {
    transform: translate(-8px, 4px);
}


.custom_border {
    border: 1px solid rgba(0, 0, 0, 0.74);

    &.button_border {
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 2px;

        &:hover {
            background: linear-gradient(to right, #a8c0dac9, #ffffff00, #a8c0dac9);
            border: 1px solid rgba(0, 0, 0, 0.266);
            box-shadow: 0 0 3px white;
        }
    }
}

.start_items {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;

    &:hover {
        border-color: #7da2ce;
        background: linear-gradient(to top, #c1dcfc, #dcebfc);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .6666666667);
    }
}

.right_side_divider {
    box-shadow:
        inset 0 0 0 1px rgba(0, 0, 0, 0.5),
        inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    padding-top: 3px;
    border-color: #4848480c;
}

.custom_button {
    border: 1px solid rgba(0, 0, 0, 0);

    &:hover {
        border: 1px solid #0000001b;
        border-radius: 3px;
        box-shadow: 0px 0px 3px 0px #00000073
    }
}

.button_down {
    border: 1px solid #0000001b;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #00000073;
}

.avatar-button {
    position: relative;
    width: 90px;
    height: 90px;
    border: none;
    background: none;
    padding: 0;
    overflow: hidden;
    cursor: default;
}

/* FOTO UTENTE */
.avatar-image {
    position: absolute;
    top: 14px;
    left: 10px;
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 3px;
   
}

/* CORNICE */
.avatar-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    pointer-events: none;
}