@import 'app/styles/variables';

/* FONT GENERICI */
* {
    font-family: 'JetBrains Mono', monospace;
}

html,
body {
    height: 100vh;
    margin: 0;
    background-color: $surface-color;
    color: $text-primary;
}
