@use 'app/styles/variables';

/* FONT GENERICI */
* {
    font-family: 'JetBrains Mono', monospace;
}

html,
body {
    height: 100vh;
    margin: 0;
    background-color: variables.$surface-color;
    color: variables.$text-primary;
}
