@import "tailwindcss";
@import "tailwindcss-primeui";

html,
body {
  height: 100vh;
  margin: 0;
  background-image: url("assets/imgs/windows_bg.jpg");
  background-position: center;
  background-size: cover;
}

pre[class*="language-"] {
border-radius: 10px;
}