button {
    cursor: default;
}

.custom_selection_bar {
    transform: rotate(90deg) scaleY(-1);
    background: transparent;
    padding: 10px 1px;

}

.file_exp_bar {
    background: linear-gradient(#fff 20%, #f1f4fa 25%, #f1f4fa 43%, #d4dbee 48%, #e6eaf6);
    border-color: rgba(0, 0, 0, 0.31);
    color: rgba(0, 0, 0, 0.551);
    ;

    .file_exp_bar_button {
        border: 1px solid rgba(0, 0, 0, 0);

        &:hover {
            border: 1px solid #00000073;
            border-radius: 3px;
            box-shadow: 0px 0px 3px 0px #00000073
        }
    }
}

.list_arrow .list_arrow_button {

    margin-top: 6px;
    opacity: 0;
    transition: transform 0.2s ease;

    &.active_border {
        opacity: 1;

    }

    .rotate {
        transform: rotate(45deg);
    }
}

.left_list_items {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;

    &:hover {
        border-color: #b8d6fc;
        background: linear-gradient(to top, #f2f7fe, #fcfdfe);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .6666666667);
    }

    &.focus {
        border-color: #7da2ce;
        background: linear-gradient(to top, #c1dcfc, #dcebfc);
    }
}

